* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.07rem;
  margin: 1rem;
}

h2 {
  font-size: 1.72rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.44rem;
  margin: 1rem;
}

h4 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 120%;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0.40rem;
  height: 40px;
  transition: all 0.3s ease-in;

}

.buttonprimary{
  background-color: black;
  color: white; 
}

.buttonprimary:hover {
  background-color: rgb(45, 39, 39);
}

.buttonsecondary:hover {
  background-color: black;
  color: white;
}

.buttonsecondary {
  border: 1px solid black;
  border-radius: 0.40rem;
}

.buttonholder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

p {
  font-size: 1rem;
  color: rgb(102, 101, 101);
  line-height: 150%;
}

#logo {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header {
  height: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid darkgray;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menubutton {
  background-color: white;
  border: none;
}

nav {
  display: none;
}

#sectionabout {
  background-color: rgb(227, 214, 214);
}

.bloglist {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.blog {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.7rem;

}

.blog img{
  width: 100%;
}

.blog p{
  font-size: 0.9rem;
}

@media only screen and (min-width: 576px) {
  .bloglist {
      display: grid;grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  
  .bloglist {
      grid-template-columns: 1fr 1fr 1fr ;
  }
  
  #menubutton {
      display: none;
  }
  nav {
      display: block;

  }

  #navlist {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      list-style: none;

  }

  #navlist a {
      text-decoration: none;
      color: rgb(107, 106, 106);
  }

  #navlist a:hover {
      text-decoration: underline;
      
  }

 
}  

@media only screen and (min-width: 992px) {
  .bloglist {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}  

@media only screen and (min-width: 1200px) {
  
  .bloglist {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  h1 {
      font-size: 2.98rem;
  }
  
  h2 {
      font-size: 2.48rem;
  }
  
  h3 {
      font-size: 2.07rem;
  }
  
  h4 {
      font-size: 1.7rem;
  }
}  


button {
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: black;
  
}

#likeBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}